<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace=~{base::layout(~{::section})}>
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>
<body>
<section>
    <style>
        .frame {
            border: 2px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>
    <div class="container" style="width: 70%;">
        <h1>HOME</h1>
        <hr/>


<!--        <a class="btn btn-dark" th:href="@{/posts/new}">New Post</a>-->
<!--        <br>-->

<!--        <div class="row mt-4 mb-4">-->
<!--            <form th:action="@{/posts/search}" method="get">-->
<!--                <div class="col-lg-3 input-group">-->
<!--                    <input type="text" name="keyword" class="form-control" placeholder="Search by Title">-->
<!--                    <div class="input-group-append ">-->
<!--                        <button type="submit" class="btn btn-primary">Search</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->

<!--        <div class="frame" style="background-color: palegreen; border-radius: 10px;border: 2px solid palegreen;">-->
<!--            <h3>Random Post</h3>-->
<!--            <div class="post">-->
<!--                <h4><a th:href="@{'/posts/' + ${randPost.id}}" th:text="${randPost.title}">Random Post Title</a></h4>-->
<!--                <p style="line-height: 5px;" th:text="'Written by ' + ${randPost.account.firstName}">Account First Name</p>-->
<!--                <p style="line-height: 5px;" th:text="'Published at ' + ${randPost.createdAt}">Created At</p>-->
<!--                <p style="line-height: 5px;" th:text="'Updated at ' + ${randPost.updatedAt}">Updated At</p>-->
<!--                <img  th:if="${!#strings.isEmpty(randPost.image)}"  th:src="|data:image/jpeg;base64,${randPost.image}|"-->
<!--                     alt="Post Image" style="height: 100px; width: auto; max-height: 100px; max-width: 100%;">-->
<!--                <p th:text="${randPost.body}">Random post body text</p>-->
<!--                <br>-->
<!--                <a class="btn btn-dark" style="background-color: darkgreen; border-color: darkgreen" href="#" onclick="location.reload()">Refresh</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="posts-container">-->

<!--            <div class="post" th:each="post : ${posts}">-->
<!--                <div class="frame" style="background-color: lightgrey;border-radius: 10px; border: 2px solid lightgrey;  ">-->
<!--                <h2><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Title</a></h2>-->
<!--                <p style="line-height: 5px;" th:text="'Written by ' + ${post.account.firstName}">Account First Name</p>-->
<!--                <p style="line-height: 5px;" th:text="'Published at ' + ${post.createdAt}">Created At</p>-->
<!--                <p style="line-height: 5px;" th:text="'Updated at ' + ${post.updatedAt}">Updated At</p>-->
<!--                <img th:if="${!#strings.isEmpty(post.image)}" th:src="|data:image/jpeg;base64,${post.image}|"-->
<!--                     alt="Post Image" style="height: 100px; width: auto; max-height: 100px; max-width: 100%;">-->
<!--                <p th:text="${post.body}">body text</p>-->
<!--                <br>-->
<!--            </div>-->
<!--            </div>-->

<!--        </div>-->
        <hr/>

    </div>
</section>

</body>
</html>